.btn {
  background-color: purple !important;
  border-color: purple !important;
  /* padding: 20px; */
  margin: 10px;
  width: 80px;
  color: white !important;
}

.btn:hover {
  /* padding: 20px; */
  margin: 10px;
  width: 80px;
  background-color: rgb(118, 19, 118) !important;
  border-color: purple !important;
  color: white !important;
}

.btn-success {
  width: 200px;
}

.btn-success:hover {
  width: 200px;
}

.description-td {
  width: 350px !important;
}

.title-td {
  width: 350px !important;
}

.btn-danger {
  background-color: red !important;
  border-color: rgb(223, 0, 0) !important;
  margin-left: 80%;
  width: 20%;
}

.btn-danger:hover {
  background-color: rgb(152, 3, 3) !important;
  border-color: rgb(223, 0, 0) !important;
  margin-left: 80%;
  width: 20%;
}

.card-img-top {
  height: 50%;
}

.card {
  background-color: #f8f9fa !important;
  width: 50%;
  margin: auto;
}

.card-text-unstyled {
  color: purple !important;
}

.delete-btn-in-table {
  margin-left: 100px;
}

.delete-btn-in-table:hover {
  margin-left: 100px;
}
