.btn {
  background-color: purple !important;
  border-color: purple !important;
  /* padding: 20px; */
  margin: 10px;
  width: 80px;
  color: white !important;
}

.btn:hover {
  /* padding: 20px; */
  margin: 10px;
  width: 80px;
  background-color: rgb(118, 19, 118) !important;
  border-color: purple !important;
  color: white !important;
}

.btn-success {
  width: 200px;
}

.btn-success:hover {
  width: 200px;
}

.description-td {
  width: 350px !important;
}

.title-td {
  width: 350px !important;
}
